html {
	background-color: #210002;
	color: #ffaf00;
}

body {
	position: relative;
}

/* PARALLAX */

.keyart, .keyart_layer {
	height: 1000px;
}

#parallax {
	display: none;
}

#nonparallax {
	display: block;
}

#nonparallax {
	background-image: url('../images/keyart-mobile.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

.keyart {
	position: relative;
	z-index: 10;
}

.keyart_layer {
	background-position: bottom center;
	background-size: auto;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.keyart_layer.parallax {
	position: fixed;
}
		#keyart-0 {
		background-image: url('../images/test9.png');
		background-color: #ffaf1b;
	}
	#keyart-1 {
		background-image: url('images/test8.png');
	}
	#keyart-2 {
		background-image: url('../images/test7.png');
	}
	#keyart-3 {
		background-image: url('../images/test6.png');
	}
	#keyart-4 {
		background-image: url('../images/test5.png');
	}
	#keyart-5 {
		background-image: url('../images/test4.png');
	}
	#keyart-6 {
		background-image: url('../images/test3.png');
	}
	#keyart-7 {
		background-image: url('../images/test2.png');
	}
	#keyart-8 {
		background-image: url('../images/test1.png');
	}
	#keyart-scrim {
		background-color: #ffaf00;
		opacity: 0;
	}

 
/********************/
/********************/
/* ENABLES PARALLAX */
/********************/
/********************/

@media (min-width: 601px) {

	#nonparallax {
		display: none;
	}
	#parallax {
		display: block;
	}

}

/* PARALLAX */

	.keyart, .keyart_layer {
		height: 650px;
	}

	.keyart_layer {
		position: absolute;
		background-size: auto 600px;
	}
}


/* MAIN STRUCTURE */

.toprule {
	background-color: #a34300;
	height: 37px;
	position: absolute;
	width: 100%;
}

#maincontain {
	background-color: #210002;
	position: relative;
	z-index: 98;
}

#main {
	max-width: 900px;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: auto;
	margin-right: auto;
	z-index: 99;
	position: relative;
	background-color: #210002;
}


/* PRESS QUOTE SECTIONS */

.section.pressquote {
	margin: 30px auto 60px;
}
	.section.pressquote.first {
		margin-top: 0;
	}
.section.pressquote h2, .section.pressquote h3 {
	line-height: 1.35em;
	margin: 20px auto;
}
	.section.pressquote.first h2 {
		margin-top: 0;
	}


/********************/
/********************/
/** RESPONSIVENESS **/
/********************/
/********************/


@media (max-width: 880px) {
	.section.support ul.supportlinks {
		margin-left: 0;
		margin-right: 0;
	}
	.section.support .supportlinks .link.techsupport a {
		margin: 0 50px 0 0;
	}
	.section.support .supportlinks .link.streaming a {
		margin: 0 0 0 50px;
	}


	.section.companylinks {
		margin: 50px auto;
		padding-right: 0;
	}	

}


